{% extends "base_bootstrap.html" %}
{% load crispy_forms_tags%}
{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div class="container bg-dark">
  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>


{% if settings.SOCIAL_AUTH_GITHUB_KEY %}
<hr/>
<a class="btn btn-info" role="button" href="{% url 'social:begin' 'github' %}?next={{ next }}">
    <i class="fa fa-github" aria-hidden="true"></i>
    Login with GitHub</a>
{% endif %}

{% endblock %}
